<nav class="page-sidebar">
  <div class="page-brand">
    <a routerLink="/">
      <span class="brand">ITJOB</span>
    </a>
  </div>
  <div class="side-menu-wrapper">
    <div class="side-menu nav scroller">
      <a class="sidebar-link sidebar-toggler" href="#sidemenu-1">
        <div class="sidebar-toggler-icon">
          <span class="icon-line"></span>
          <span class="icon-line"></span>
          <span class="icon-line"></span>
        </div>
      </a>
    </div>
  </div>
</nav>
<div class="sidebar-tabs">
  <div class="tab-content scroller">
    <div class="tab-pane sidebar-submenu fade active show" id="sidemenu-1">
      <a [routerLink]="['/user-lists']" routerLinkActive="router-link-active"><i class="ti-user menu-item-icon"></i>
        <div>
          <h5 class="menu-item-title">Utilisateurs</h5>
          <small class="menu-item-text">Liste des utilisateurs</small>
        </div>
      </a>
      <a [routerLink]="['/candidat-lists']" routerLinkActive="router-link-active"><i class="ti-id-badge menu-item-icon"></i>
        <div>
          <h5 class="menu-item-title">Candidats
          </h5><small class="menu-item-text">Voir les candidats</small>
        </div>
      </a>
      <a [routerLink]="['/company-lists']" routerLinkActive="router-link-active"><i class="ti-layout-cta-left menu-item-icon"></i>
        <div>
          <h5 class="menu-item-title">Entreprises
          </h5><small class="menu-item-text">Voir les entreprise</small>
        </div>
      </a>
      <a [routerLink]="['/offer-lists']" routerLinkActive="router-link-active"><i class="ti-notepad menu-item-icon"></i>
        <div>
          <h5 class="menu-item-title">Offres
          </h5><small class="menu-item-text">Voir les offres</small>
        </div>
      </a>

    </div>
  </div>
</div>
