<div class="page-content fade-in-up">
  <app-status-changer (refresh)="reloadDatatable()" [posttype]="posttype"></app-status-changer>
  <app-featured-switcher (refresh)="reloadDatatable()"></app-featured-switcher>
  <app-archived-candidate  (refresh)="reloadDatatable()" [helper]="Helper"></app-archived-candidate>
  <div class="ibox">
    <div class="ibox-body">
      <h5 class="font-strong mb-4">LES CANDIDATS</h5>
      <div class="mb-4">
        <form class="form-success mb-4">
          <div class="row mb-4">
            <div class="col-md-4 mb-2 mb-sm-0">
              <select class="selectpicker form-control " id="type-status" title="Tous les statut" data-style="btn-solid">
                <option value="">Tous les statut</option>
                <option value="pending">En attente</option>
                <option value="1">Publier</option>
                <option value="0">Désactiver</option>
              </select>
            </div>
            <div class="col-md-4 form-group mb-2 mb-sm-0">
              <div class="input-group-icon input-group-icon-left mr-3">
                <span class="input-icon input-icon-right font-16"><i class="fa fa-calendar"></i></span>
                <input class="form-control" id="daterange" autocomplete="off" type="text" value="">
              </div>
            </div>
            <app-activity-area [title]="'secteurs d\'activités'" class="col-md-4 mb-2 mb-sm-0" (choosed)="onChoosed($event)"></app-activity-area>
          </div>

          <div class="row">
            <div class="col-md-4 form-check mb-2 mb-sm-0">
              <div class="input-group-icon input-group-icon-left mr-3">
                <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                <input class="form-control form-control-solid" id="key-search" type="text" placeholder="Rechercher ...">
              </div>
            </div>
            <div class="col-md-4 mb-2 mb-sm-0">
              <select class="selectpicker form-control " id="position" title="Tous les positions" data-style="btn-solid">
                <option value="">Tous les positions</option>
                <option value="1">A la une</option>
                <option value="0">Standard</option>
              </select>
            </div>
            <div class="col-md-4">
              <button type="button" (click)="resetFilterSearch()" class="btn btn-info">Reinitialiser les filtres</button>
            </div>
          </div>
        </form>
        <div class="flexbox px-4 py-3 bg-primary-50">
          <div class="flexbox-b">
            <div id="inbox-actions">
              <button class="btn btn-sm btn-transparent btn-primary btn-icon-only" 
              data-action="archived" [disabled]="!selected" (click)="onArchived(selected)" data-toggle="tooltip" data-original-title="Marquer comme incomplete">
                <i class="la la-archive"></i>
              </button>
              <button class="btn btn-sm btn-transparent btn-primary btn-fix ml-2"  (click)="archivedCandidate.openArchivedLists()">
                  <span class="btn-icon"><i class="la la-archive"></i>Les CV incomplets</span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <table class="table table-bordered table-hover" id="orders-table">
            <thead class="thead-default thead-lg">
              <tr>
                <th>#</th>
                <th>Réference</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Statut</th>
                <th>Position</th>
                <th>Emploi rechercher</th>
                <th>Date d'inscription</th>
                <th class="no-sort">Action</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
