<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-body">
      <h5 class="font-strong mb-4">LES HISTORIQUES DE PAIEMENT</h5>

      <div class="table-responsive row">
        <table class="table table-bordered table-hover" id="paiement-table">
          <thead class="thead-default thead-lg">
          <tr>
            <th>#ID</th>
            <th>Client</th>
            <th>Article</th>
            <th>Reference</th>
            <th>Moyen de paiement</th>
            <th>Statut de paiement</th>
            <th>Date de création</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

