<!-- START TOP-LEFT TOOLBAR-->
<ul class="nav navbar-toolbar">
    <li class="dropdown mega-menu">
        <a class="nav-link dropdown-toggle toolbar-icon ml-3" data-toggle="dropdown" href="javascript:;"><i class="ti-view-grid"></i></a>
        <div class="dropdown-menu" *ngIf="Header">
            <div class="dropdown-arrow"></div>
            <div class="mega-toolbar-menu">
                <div class="d-flex">
                    <a class="mega-toolbar-item"  [routerLink]="['/candidat-lists']">
                        <div class="item-icon"><i class="ti-id-badge"></i></div>
                        <div class="item-name">Candidats</div>
                        <div class="item-text">Tous les candidats</div>
                        <div class="item-details" *ngIf="Header.candidate !== 0">{{Header.candidate}} en attente</div>
                        <div class="item-details" *ngIf="Header.candidate === 0">0 en attente</div>
                    </a>
                    <a class="mega-toolbar-item"[routerLink]="['/offer-lists']">
                        <div class="item-icon"><i class="ti-notepad"></i></div>
                        <div class="item-name">Offres</div>
                        <div class="item-text">Tous les offres</div>
                        <div class="item-details" *ngIf="Header.offers !== 0">{{Header.offers}} en attente</div>
                        <div class="item-details" *ngIf="Header.offers === 0">0 en attente</div>
                    </a>
                </div>
                <div class="d-flex">
                    <a class="mega-toolbar-item" [routerLink]="['/company-lists']">
                        <div class="item-icon"><i class="ti-layout-cta-left"></i></div>
                        <div class="item-name">Entreprises</div>
                        <div class="item-text">Tous les entreprises</div>
                        <div class="item-details" *ngIf="Header.company !== 0">{{Header.company}} en attente</div>
                        <div class="item-details" *ngIf="Header.company === 0">0 en attente</div>
                    </a>
                    <a class="mega-toolbar-item" [routerLink]="['/user-lists']">
                        <div class="item-icon"><i class="ti-user"></i></div>
                        <div class="item-name">Utilisateurs</div>
                        <div class="item-text">Gestionnaire back office</div>
                    </a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a class="nav-link search-toggler js-search-toggler" href="javascript:;"><i class="ti-search"></i>
            <span>Recherche ici...</span>
        </a>
    </li>
</ul>
<!-- END TOP-LEFT TOOLBAR-->
<!-- START TOP-RIGHT TOOLBAR-->
<ul class="nav navbar-toolbar">
    <li class="timeout-toggler">
        <a class="nav-link toolbar-icon" data-toggle="modal" data-target="#session-dialog" href="javascript:;">
            <i class="ti-alarm-clock timeout-toggler-icon rel"><span class="notify-signal"></span></i>
        </a>
    </li>
   
    <li>
        <a class="d-flex align-items-center" (click)="logoutAction()">Déconnexion <i class="ti-shift-right ml-2 font-20"></i></a>
    </li>
    <li>
        <a class="nav-link quick-sidebar-toggler toolbar-icon">
            <i class="ti-align-right rel"><span class="notify-signal"></span></i>
        </a>
    </li>
</ul>
<!-- END TOP-RIGHT TOOLBAR-->
