<div class="page-content fade-in-up">
  <app-company-edit (refresh)="ngOnInit()"></app-company-edit>
  <div class="ibox">
    <div class="ibox-body" *ngIf="loadingForm">
      <div class="row">
        <div class="col-4 mb-4">
          <a class="btn btn-primary btn-sm mr-2" [routerLink]="['/offer-lists']">Retour</a>
          <a class="btn btn-secondary btn-sm mr-2" target="_blank" [href]="Offer.offer_url">Visualiser</a>
        </div>
      </div>
      <h5 class="font-strong mb-3">
        {{Editor.postPromote}}
        <div *ngIf="Editor.offer_status === 'pending'"><span class="badge badge-pill badge-warning"> En attente de
            validation</span></div>
        <div *ngIf="Editor.offer_status === 0 || Editor.offer_status === '0'"><span class="badge badge-pill badge-pink">Offre
            désactiver</span></div>
      </h5>
      <div class="row">
        <div class="col-lg-7">
          <form #editForm="ngForm" (ngSubmit)="onSubmitForm( editForm )">
            <div class="row">
              <div class="form-group mb-4 col-sm-8">
                <label class="font-bold">Poste occupé </label>
                <input class="form-control form-control-solid" [(ngModel)]="Editor.postPromote" type="text" name="post"
                  placeholder="Titre de l'offre">
              </div>
            </div>
            <div class="row">
              <div class="form-group mb-4 col-sm-8">
                <label class="font-bold">Référence </label>
                <input class="form-control form-control-solid" [(ngModel)]="Editor.reference" [disabled]='true' type="text"
                  name="reference" placeholder="Référence de l'offre">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label class="font-bold">Statut</label>
                <div>
                  <select class="form-control" name="status" (ngModelChange)="onChangeStatus($event)" [(ngModel)]="Editor.offer_status"
                    title="Status de l'offre">
                    <option value="pending">En attente</option>
                    <option value="1">Publier</option>
                    <option value="0">Désactiver</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label class="font-bold">Type de contrat</label>
                <div>
                  <select class="form-control" name="contract" [(ngModel)]="Editor.contractType" title="Type de contract">
                    <option value="0">CDD</option>
                    <option value="1">CDI</option>
                    <option value="2">Intérim</option>
                  </select>
                </div>
              </div>
              <div class="form-group mb-4 col-sm-4">
                <label class="font-bold">Salaire net proposé </label>
                <input class="form-control form-control-solid" [(ngModel)]="Editor.proposedSalary" type="text" name="proposedsalary"
                  placeholder="Salaire net proposé">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label class="font-bold">Région</label>
                <ng-select name="region" [(ngModel)]="Editor.region" bindLabel="name" bindValue="term_id" [searchFn]="customSearchFn"
                  [items]="Regions">
                </ng-select>
              </div>
              <div class="col-sm-6 form-group mb-4">
                <label class="font-bold">Ville ou code postal</label>
                <ng-select name="town" [items]="Towns" [loading]="townLoading" bindLabel="name" bindValue="term_id"
                  [searchFn]="customSearchFn" [(ngModel)]="Editor.town" aria-required="true" required>
                </ng-select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label class="font-bold">Secteur d'activité</label>
                <ng-select name="branch_activity" [items]="branchActivitys" [loading]="areaLoading" bindLabel="name"
                  bindValue="term_id" [(ngModel)]="Editor.branch_activity" [searchFn]="customSearchFn">
                </ng-select>
              </div>
            </div>
            <div class="row  mb-4">
              <div class="col-sm-6 form-group">
                <label class="font-bold">Date limite de candidature</label>
                <div class="input-group date">
                  <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                  <input class="form-control" name="date_limit" appDatepicker readonly="readonly" [(ngModel)]="Editor.dateLimit" [value]="Editor.dateLimit" type="text"
                    placeholder="Date limite de publication">
                </div>
              </div>
              <div class="col-sm-6 from-group">
                <label class="font-bold">Dates de création</label>
                <div class="input-group date">
                  <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                  <input class="form-control" name="date_create" [disabled]="true" [(ngModel)]="Editor.datePublication" type="text"
                    placeholder="Dates de création">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group mb-4">
                  <label class="font-bold">Profil recherché</label>
                  <editor apiKey="2grxn9iofnxolcaedqa399sh4ft6c1mg3e1kumgnyq6o0ap1" required [(ngModel)]="Editor.profil"
                    name="profil" [init]="tinyMCESettings">
                  </editor>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group mb-4">
                  <label class="font-bold">Mission</label>
                  <editor apiKey="2grxn9iofnxolcaedqa399sh4ft6c1mg3e1kumgnyq6o0ap1" required [(ngModel)]="Editor.mission"
                    name="mission" [init]="tinyMCESettings">
                  </editor>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group mb-4">
                  <label class="font-bold">Autre information</label>
                  <editor apiKey="2grxn9iofnxolcaedqa399sh4ft6c1mg3e1kumgnyq6o0ap1" [(ngModel)]="Editor.otherInformation"
                    name="otherInformation" [init]="tinyMCESettings">
                  </editor>
                </div>
              </div>
            </div>
            <div class="text-right">
              <input type="hidden" name="ID" [(ngModel)]="Editor.ID">
              <button class="btn btn-primary btn-air mr-2" [disabled]="loadingSave" type="submit">
                Enregistrer
              </button>
              <a class="btn btn-secondary" [routerLink]="['/offer-lists']">Annuler</a>
            </div>
          </form>
        </div>
        <div class="col-lg-5">
          <div class="ibox">
            <div class="ibox-body">
              <h5 class="font-strong mb-4">{{Offer.__info.title}}</h5>
              <div class="row align-items-center mb-3">
                <div class="col-4 text-light">Nom du responsable</div>
                <div class="col-8">{{Offer.__info.name}}</div>
              </div>
              <div class="row align-items-center mb-3">
                <div class="col-4 text-light">Adress</div>
                <div class="col-8">{{Offer.__info.address}}</div>
              </div>
              <div class="row align-items-center mb-3">
                <div class="col-4 text-light">Email</div>
                <div class="col-8">{{Offer.__info.email}}</div>
              </div>
              <div class="row align-items-center">
                <div class="col-4 text-light">Numéro de téléphone</div>
                <div class="col-8">{{Offer.__info.phone}}</div>
              </div>
              <div class="row mt-4">
                <div class="col-12">
                  <button class="btn btn-outline-pink btn-sm btn-square" (click)="editCompany($event)">Modifier
                    l'entreprise</button>
                </div>
              </div>
            </div>
          </div>
          <div class="ibox">
            <div class="ibox-body">
              <app-postuled-candidates [offerid]="ID">
                Chargement en cours...
              </app-postuled-candidates>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT-->
