<div class="modal fade" id="added-taxonomy-modal">
    <div class="modal-dialog" role="document">
      <form #addedForm="ngForm" (ngSubmit)="onAddTerm( addedForm )" class="modal-content">
        <div class="modal-header p-4">
          <h5 class="modal-title">AJOUTER</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group mb-4">
                <label>Nom</label>
                <input class="form-control form-control-solid" [(ngModel)]="title" name="title" placeholder="Nom"
                  type="text" autocomplete="off" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between bg-primary-50">
          <div>
            <div style="display: none">
                <input type="text" name="taxonomy" [(ngModel)]="taxonomy">
            </div>
            <button class="btn btn-primary mr-3" type="submit" [disabled]="loading">
              <span>Ajouter</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  