<div class="page-content fade-in-up">
  <app-view-newsletter [post]="letter"></app-view-newsletter>
  <app-new-newsletter (onSend)="onSendNewsletter($event)"></app-new-newsletter>
  <div class="ibox">
    <div class="ibox-body">
      <h5 class="font-strong mb-4">LES NEWSLETTERS</h5>

      <form class="form-success mb-4">

        <div class="row">
          <div class="col-md-4 form-check mb-2 mb-sm-0">
            <div class="input-group-icon input-group-icon-left mr-3">
              <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
              <input class="form-control form-control-solid" id="key-search" type="text" placeholder="Rechercher ...">
            </div>
          </div>
        </div>

      </form>
      <div class="row">
        <div class="col-4">
          <button class="btn btn-outline-blue btn-sm" (click)="onNewNewsletter()">Ajouter letter d'information </button>
        </div>
      </div>

      <div class="table-responsive row">
        <table class="table table-bordered table-hover" id="newsletter-table">
          <thead class="thead-default thead-lg">
            <tr>
              <th>#</th>
              <th>Titre</th>
              <th>Date d'ajout</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

</div>
