<!-- BEGIN PAGE LOADER  -->
<div class="preloader-backdrop">
  <div class="page-preloader">Chargement</div>
</div>
<!-- END PAGE LOADER  -->

<!-- BEGIN PAGE  -->
<router-outlet></router-outlet>
<!-- END PAGE  -->

<!-- START SEARCH PANEL-->
<form class="search-top-bar" action="javascript:;">
  <input class="form-control search-input" type="text" placeholder="Search...">
  <button class="reset input-search-icon"><i class="ti-search"></i></button>
  <button class="reset input-search-close" type="button"><i class="ti-close"></i></button>
</form>
<!-- END SEARCH PANEL -->

<!-- BEGIN PAGA BACKDROP -->
<div class="sidenav-backdrop backdrop"></div>
<!-- END PAGA BACKDROP -->

<!-- SCROLL TOP -->
<div class="to-top"><i class="fa fa-angle-double-up"></i></div>
<!-- END SCROLL TOP -->

<!-- SESSION TIMEOUT MODAL -->
<div class="modal fade" id="session-dialog">
  <div class="modal-dialog" style="width:400px;" role="document">
    <div class="modal-content timeout-modal">
      <div class="modal-body">
        <button class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mt-3 mb-4"><i class="ti-lock timeout-icon"></i></div>
        <div class="text-center h4 mb-3">Définir la déconnexion automatique (Béta)</div>
        <p class="text-center mb-4">
            Vous êtes sur le point d'être déconnecté pour cause d'inactivité.
            Sélectionnez après combien de minutes d'inactivité vous vous déconnectez du système.
        </p>
        <div id="timeout-reset-box" style="display:none;">
          <div class="form-group text-center">
            <button class="btn btn-danger btn-fix btn-air" id="timeout-reset">Désactiver</button>
          </div>
        </div>
        <div id="timeout-activate-box">
          <form id="timeout-form" action="javascript:;">
            <div class="form-group pl-3 pr-3 mb-4">
              <input class="form-control form-control-line" type="text" name="timeout_count" placeholder="Minutes" id="timeout-count">
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary btn-fix btn-air" id="timeout-activate">Activer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SESSION TIMEOUT MODAL -->
    
<!-- QUICK SIDEBAR-->
<div class="quick-sidebar">
  <ul class="nav nav-tabs tabs-line">
    <li class="nav-item"><a class="nav-link" href="#tab-2" data-toggle="tab"><i class="ti-settings"></i>
        <div>Paramètres</div></a></li>
    <li class="nav-item"><a class="nav-link active" href="#tab-3" data-toggle="tab"><i class="ti-comments"></i>
        <div>Notifications</div></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab-2">
      <div class="scroller">
        <div class="font-bold mb-4 mt-2">LES PARAMÈTRES DU SYSTÈME</div>
        <div class="settings-item">Activer l'envoi de mail
          <label class="ui-switch switch-icon">
            <input type="checkbox" checked="true"><span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="tab-pane active" id="tab-3">
      <div class="log-tabs">
        <a class="active" href="javascript:;" data-type="all" data-toggle="tooltip" data-original-title="All logs"><i class="ti-view-grid"></i></a>
        <a href="javascript:;" data-type="server" data-toggle="tooltip" data-original-title="Server logs"><i class="ti-harddrives"></i></a>
        <a href="javascript:;" data-type="app" data-toggle="tooltip" data-original-title="App logs"><i class="ti-pulse"></i></a>
      </div>
      <div class="logs">
        <div class="scroller">
          <ul class="logs-list">
            <li class="log-item" data-type="app" *ngFor="let notification of Notifications">
              <i class="la la-circle log-icon text-success"></i>
              <div><a [href]="notification.url">{{notification.title}}</a><small class="float-right text-muted">{{notification.date_create}}</small></div>
            </li>
            <li *ngIf="Notifications.length <= 0">Aucune notification</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END QUICK SIDEBAR-->
