<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-body">
      <h5 class="font-strong mb-4">LES OFFRES</h5>
      <div class="flexbox mb-4">
        <div class="flexbox">
          <label class="mb-0 mr-2">Status:</label>
          <select class="selectpicker show-tick form-control" id="type-filter" title="Veuillez choisir" data-style="btn-solid"
            data-width="200px">
            <option value="">Tout</option>
            <option value="pending">En attente</option>
            <option value="publish">Publié</option>
          </select>
        </div>
        <div class="input-group-icon input-group-icon-left mr-3">
          <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
          <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Rechercher ...">
        </div>
      </div>
      <div class="table-responsive row">

        <table class="table table-bordered table-hover" id="orders-table">
          <thead class="thead-default thead-lg">
            <tr>
              <th>#</th>
              <th>Réference</th>
              <th>Poste occupé</th>
              <th>Date limite</th>
              <th>Status</th>
              <th>Secteur d'activité</th>
              <th>Type de contrat</th>
              <th>Région</th>
              <th class="no-sort">Action</th>
            </tr>
          </thead>

        </table>
      </div>
    </div>
  </div>
</div>
