<div class="ibox">
  <div class="ibox-head">
    <div class="ibox-title">Lettres de motivations</div>
  </div>
  <div class="ibox-body">
    <ul class="media-list media-list-divider scroller" data-height="470px">
      <li class="media py-3" *ngFor="let coverletter of coverLetters">
        <div class="media-img">
          <span class="btn-icon-only btn-circle bg-primary-50 text-primary"><i class="ti-file"></i></span>
        </div>
        <div class="media-body">
          <div class="media-heading">
            <a [href]="coverletter.guid" target="_blank" title="{{coverletter.title}}">Télécharger</a>
            <small class="float-right badge badge-warning ml-1 ml-2"><i class="ti-alarm-clock"></i> {{coverletter.date | momendate:'LLLL'}}</small></div>
          <div class="font-13 text-light">{{coverletter.title}}</div>
          <div>
            <small (click)="onRemoveAttachment( coverletter )" style="cursor: pointer" class="float-right badge badge-danger mt-2">Supprimer</small>
          </div>
        </div>
      </li>
    </ul>
    <div *ngIf="coverLetters.length <= 0 && !loading">Aucun</div>
    <div *ngIf="loading"> Chargement en cours ...</div>
  </div>
</div>
