<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-body" *ngIf="!loadingForm">
      <h5 class="font-strong mb-5">
        Mise à jour
        <div *ngIf="Candidate.state !== 'publish'"><span class="badge badge-pill ng-binding badge-pink">
            En attente de validation</span>
        </div>
      </h5>
      <div class="row">
        <div class="col-lg-8">

          <form #editForm="ngForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group mb-4">
              <label class="ui-switch switch-icon mr-3 mb-0">
                <input type="checkbox" checked="">
                <span></span>
              </label>Activer le candidat pour être visible dans le site
            </div>

            <div class="row">
              <div class="form-group mb-4 col-sm-6">
                <label>Référence </label>
                <input class="form-control form-control-solid" [(ngModel)]="editor.Form.Reference" [disabled]='true'
                  type="text" name="reference" placeholder="Référence du candidat">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label>Titre</label>
                <div>
                  <select class="form-control" name="greeting" [(ngModel)]="editor.Form.Greeting" title="Madame ou Monsieur">
                    <option value="mr">Monsieur</option>
                    <option value="mrs">Madame</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label>Nom</label>
                <input class="form-control form-control-solid" name="firstname" [(ngModel)]="editor.Form.Firstname"
                  type="text" placeholder="Nom du candidat">
              </div>
              <div class="col-sm-6 form-group mb-4">
                <label>Prénom</label>
                <input class="form-control form-control-solid" name="lastname" [(ngModel)]="editor.Form.Lastname" type="text"
                  placeholder="Prénom du candidat">
              </div>
            </div>

            <div class="row">

              <div class="col-sm-4 form-group mb-4">
                <label>Adresse</label>
                <input class="form-control form-control-solid" name="address" [(ngModel)]="editor.Form.Address.address"
                  type="text" placeholder="Adresse du candidat">
              </div>

              <div class="col-sm-6 form-group mb-4">
                <label>Région </label>
                <div>
                  <select class="select2 form-control" name="region" [(ngModel)]="editor.Form.Region" title="Sélectionner une region"
                    data-style="btn-solid">
                    <option [value]="region.term_id" *ngFor="let region of Regions">{{region.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label>Ville ou code postal</label>
                <select class="select2 form-control" name="town" [(ngModel)]="editor.Form.Town" title="Ville ou code pos"
                  data-style="btn-solid">
                  <option [value]="town.term_id" *ngFor="let town of Towns">{{town.name}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label>Date de naissance</label>
                <div class="input-group date">
                  <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                  <input class="form-control" name="birthday" [(ngModel)]="editor.Form.Birthday" type="text" value=""
                    placeholder="Date de naissance">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 form-group mb-4">
                <label>Status </label>
                <div>
                  <select class="select2 show-tick form-control" name="status" [(ngModel)]="editor.Form.Status" title="Please select"
                    data-style="btn-solid">
                    <option value="1">Je cherche un emploi</option>
                    <option value="2">Je souhaite entretenir mon réseau</option>
                    <option value="3">Je cherche un stage</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 mb-4">
                <div class="row">
                  <div class="col-sm-12">
                    <label>Permis <span style="color: red">*</span></label>
                  </div>

                </div>
                <div class="row">
                  <div class="col-4" *ngFor="let driveLicence of editor.Form.DriveLicences">
                    <div class="form-group">
                      <label class="checkbox checkbox-grey checkbox-ebony">
                        <input type="checkbox" name="drive-licence-{{driveLicence.id}}" [(ngModel)]="driveLicence.checked"
                          [checked]="driveLicence.checked">
                        <span class="input-span"></span>{{driveLicence.value}}</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-12 mb-4">
                <div class="form-group">
                  <label>Emploi recherché</label>
                  <div>
                    <select class="select2 show-tick form-control" [(ngModel)]="editor.Form.Jobs" name="jobs" title="Emploi recherché"
                      multiple data-style="btn-solid">
                      <option [value]="job.term_id" *ngFor="let job of Jobs">{{job.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Les langues</label>
                  <select class="select2 show-tick form-control" [(ngModel)]="editor.Form.Language" name="language"
                    title="Ajouter une langue" multiple data-style="btn-solid">
                    <option [value]="language.term_id" *ngFor="let language of Languages">{{language.name}}</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-12 mb-4">
                <div class="ibox-body dd pl-0">
                  <h5 class="font-strong text-uppercase">Formations / Diplômes</h5>
                  <ul class="media-list media-list-divider dd-list mr-2">

                    <li class="media align-items-center dd-item" [attr.data-index]="i" *ngFor="let training of editor.trainings; let i = index">
                      <div class="media-body d-flex align-items-center dd-handle">
                        <div class="flex-1">
                          <div class="media-heading">
                            {{training.training_establishment}}
                            <span class="badge badge-pill ng-binding badge-pink" *ngIf="!training.validated">En attente
                              de validation</span>
                          </div>
                          <small class="text-muted">{{training.training_diploma}}</small>
                        </div>
                        <button (click)="onEditTraining(training.ID)" class="btn btn-sm btn-outline-secondary ">Modifier</button>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mb-4">
                <div class="ibox-body pl-0">
                  <h5 class="font-strong text-uppercase mb-4">Expériences professionnelles</h5>
                  <ul class="media-list media-list-divider mr-2">

                    <li class="media align-items-center" *ngFor="let experience of editor.experiences">
                      <div class="media-body d-flex align-items-center">
                        <div class="flex-1">
                          <div class="media-heading">{{experience.exp_company}}</div>
                          <small class="text-muted">{{experience.exp_positionHeld}}</small>
                        </div>
                        <button (click)="onEditExperience(experience.ID)" class="btn btn-sm btn-outline-secondary ">Modifier</button>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mb-4">
                <div class="form-group">
                  <label>Logiciels maitrisés</label>
                  <div>
                    <select class="select2 show-tick form-control" [(ngModel)]="editor.Form.Softwares" name="software"
                      title="Logiciel" multiple data-style="btn-solid">
                      <option [value]="software.term_id" *ngFor="let software of Softwares">{{software.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <h5 class="font-strong text-uppercase mb-4">Centre d'intérêt</h5>
                <label>Divers</label>
                <input class="form-control form-control-solid" type="text" placeholder="Divers">
              </div>
              <div class="col-md-12">

                <div class="form-group mb-4">
                  <label>Projet personnel</label>
                  <textarea class="form-control form-control-solid" rows="4" placeholder="Ajouter une projet personnel"></textarea>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-12 d-flex mb-2">
                <label class="ui-switch switch-icon switch-solid-info switch-small">
                  <input type="checkbox" checked="">
                  <span></span>
                </label>
                <span class="mt-auto mb-auto ml-3">Souhaitez-vous recevoir une notification quand une offre d’emploi
                  est postée sur Itjobmada</span>
              </div>

              <div class="col-12 d-flex">
                <label class="ui-switch switch-icon switch-solid-info switch-small">
                  <input type="checkbox" checked="">
                  <span></span>

                </label>
                <span class="mt-auto mb-auto ml-3">Souhaitez-vous recevoir une notification quand une formation est
                  postée sur Itjobmada</span>
              </div>
            </div>

            <div class="text-right">
              <button class="btn btn-primary btn-air mr-2" type="submit">Save</button>
              <button class="btn btn-secondary">Cancel</button>
            </div>
          </form>

          <div class="modal fade" id="edit-training-modal">
            <div class="modal-dialog" role="document">
              <form class="modal-content" *ngIf="editor.Training">
                <div class="modal-header p-4">
                  <h5 class="modal-title">MODIFICATION FORMATION</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body p-4">
                  <div class="form-group mb-4">
                    <input class="form-control form-control-solid" autocomplete="off" type="text" [(ngModel)]="editor.Training.training_country"
                      name="state" placeholder="Pays">
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control form-control-solid" autocomplete="off" type="text" [(ngModel)]="editor.Training.training_city"
                      name="town" placeholder="Ville">
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control form-control-solid" autocomplete="off" type="text" [(ngModel)]="editor.Training.training_diploma"
                      name="diploma" placeholder="Diplôme">
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control form-control-solid" autocomplete="off" type="text" [(ngModel)]="editor.Training.training_establishment"
                      name="university" placeholder="Université/Ecole *">
                  </div>
                  <div class="form-group mb-4">
                    <div class="row">
                      <div class="col-6">
                        <div class="col-sm-12">
                          <p class="text-uppercase">De <span style="color: red">*</span></p>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <select class="select2 form-control" name="begin_mounth" [(ngModel)]="editor.Training.training_dateBegin.month">
                              <option [value]="month" *ngFor="let month of Months">{{month}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <select class="select2 form-control" name="begin_year" [(ngModel)]="editor.Training.training_dateBegin.year"
                              required>
                              <option [value]="year" *ngFor="let year of Years">{{year}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="col-sm-12">
                          <p class="text-uppercase">à <span style="color: red">*</span></p>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <select class="select2 form-control" name="end_mounth" [(ngModel)]="editor.Training.training_dateEnd.month">
                              <option [value]="month" *ngFor="let month of Months">{{month}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <select class="select2 form-control" name="end_year" [(ngModel)]="editor.Training.training_dateEnd.year"
                              required>
                              <option [value]="year" *ngFor="let year of Years">{{year}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-between bg-primary-50">
                  <div>
                    <button class="btn btn-primary btn-rounded mr-3" (click)="onUpdateTraining(editor.Training.ID)">
                      <span *ngIf="editor.Training.validated">Enregistrer</span>
                      <span *ngIf="!editor.Training.validated">Valider</span>
                    </button>
                  </div>
                  <a class="text-danger" title="Effacer cette formation"><i class="la la-trash font-20"></i></a>
                </div>
              </form>
            </div>
          </div>

          <div class="modal fade" id="edit-experience-modal">
            <div class="modal-dialog" role="document">
              <form class="modal-content" *ngIf="editor.Experience">
                <div class="modal-header p-4">
                  <h5 class="modal-title">MODIFICATION EXPERIENCE</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body p-4">
                  <div class="form-group mb-4">
                    <input class="form-control form-control-solid" autocomplete="off" type="text" [(ngModel)]="editor.Experience.exp_company"
                      name="university" placeholder="Université/Ecole *">
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control form-control-solid" autocomplete="off" type="text" [(ngModel)]="editor.Experience.exp_positionHeld"
                      name="diploma" placeholder="Diplôme">
                  </div>
                  <div class="form-group mb-4" *ngIf="editor.Experience.exp_branch_activity">
                    <select class="select2 form-control" name="branch_activity" [(ngModel)]="editor.Experience.exp_branch_activity"
                      required>
                      <option [value]="abranch.term_id" *ngFor="let abranch of branchActivitys">{{abranch.name}}</option>
                    </select>
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control form-control-solid" autocomplete="off" type="text" [(ngModel)]="editor.Experience.exp_country"
                      name="state" placeholder="Pays">
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control form-control-solid" autocomplete="off" type="text" [(ngModel)]="editor.Experience.exp_city"
                      name="town" placeholder="Ville">
                  </div>
                  <div class="form-group mb-4">
                    <div class="row">
                      <div class="col-6">
                        <div class="col-sm-12">
                          <p class="text-uppercase">De <span style="color: red">*</span></p>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <select class="select2 form-control" name="begin_mounth" [(ngModel)]="editor.Experience.exp_dateBegin.month">
                              <option [value]="month" *ngFor="let month of Months">{{month}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <select class="select2 form-control" name="begin_year" [(ngModel)]="editor.Experience.exp_dateBegin.year"
                              required>
                              <option [value]="year" *ngFor="let year of Years">{{year}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="col-sm-12">
                          <p class="text-uppercase">à <span style="color: red">*</span></p>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <select class="select2 form-control" name="end_mounth" [(ngModel)]="editor.Experience.exp_dateEnd.month">
                              <option [value]="month" *ngFor="let month of Months">{{month}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <select class="select2 form-control" name="end_year" [(ngModel)]="editor.Experience.exp_dateEnd.year"
                              required>
                              <option [value]="year" *ngFor="let year of Years">{{year}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label>Mission</label>
                    <textarea class="form-control form-control-solid" [(ngModel)]="editor.Experience.exp_mission" name="mission"
                      id="summernote-experience" data-plugin="summernote" data-air-mode="true" placeholder="Mission">
                    </textarea>
                  </div>
                </div>
                <div class="modal-footer justify-content-between bg-primary-50">
                  <div>
                    <button class="btn btn-primary btn-rounded mr-3" (click)="onUpdateExperience(editor.Experience.ID)">Enregistrer</button>
                  </div>
                  <a class="text-danger" title="Effacer cette experience"><i class="la la-trash font-20"></i></a>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT-->
